{% extends 'base.html' %}

{% load static %}
<!--================Home Banner Area =================-->
{% block banner_text %}
<h1>The OCEAN Personality Test</h1>
<h2>Visualize your personality</h2>
<p>
    <a href="{% url 'interactions:howto' %}" class="btn btn-primary btn-lg">Get Started</a>
    <a href="{% url 'interactions:howto-referral' %}" class="btn btn-white btn-outline btn-lg">Have a referral code?</a>
</p>
<p>
    <a href="https://github.com/IgnisDa/ocean-pv#user-content-ocean-personality-visualization" target="_blank"
        class="btn btn-warning btn-lg">How to Start</a>
</p>
{% endblock %}
<!--===Home banner area===-->
{% block body %}
<div class="gtco-container">

    <div class="animate-box">
        <div class="col-md-offset-2 gtco-heading text-center">
            <h2>What does OCEAN mean? What does it stand for?</h2>
            <p>Despite the 7 billion (and counting) different personalities, psychologists have narrowed them
                down
                to five important ones, commonly called the OCEAN model of personality. Any individual's
                personality
                traits can be approximated using this model. Interestingly, people who act similarly (best
                friends,
                significant others, siblings) also happen to be quite similar on this model's scale. Take the
                test
                today to find out how similar you are to your closest and dearest.</p>
        </div>
    </div>
</div>

<!--===OCEAN introduction area===-->

<div class="text-center animate-box">
    <h2>OCEAN stands for</h2>
</div>

<div class="gtco-container">

    <div class="row">

        <div class="feature-center animate-box" data-animate-effect="fadeIn">
            <span class="icon">
                <i class="icon-open-book"></i>
            </span>
            <h3>Openness</h3>
            <p>This measures how open you are when interacting with others. Do you share your feelings
                with others, or do you prefer to keep them to yourself? The less open you are, the less
                you score on this scale. </p>
            <p><a href="#" class="btn btn-primary btn-outline">Learn More</a></p>
        </div>
    </div>

    <div class="feature-center animate-box" data-animate-effect="fadeIn">
        <span class="icon">
            <i class="fa fa-balance-scale"></i>
        </span>
        <h3>Conscientiousness</h3>
        <p>Are you neat? Do you prefer a definite schedule in your life? Or perhaps you get yelled
            at by your fellow society members that your room is dirtier than Harry's Cupboard Under
            the Stairs. If so, you're definitely low on this scale. </p>
        <p><a href="#" class="btn btn-primary btn-outline">Learn More</a></p>
    </div>


    <div class="feature-center animate-box" data-animate-effect="fadeIn">
        <span class="icon">
            <i class="icon-speech-bubble"></i>
        </span>
        <h3>Extraversion</h3>
        <p>Pretty self explanatory. If the thought of going to a gathering and socializing makes you
            jump in glee, you're not lacking any extraversion. </p>
        <p><a href="#" class="btn btn-primary btn-outline">Learn More</a></p>
    </div>


    <div class="feature-center animate-box" data-animate-effect="fadeIn">
        <span class="icon">
            <i class="icon-chat"></i>
        </span>
        <h3>Agreeableness</h3>
        <p>Do people like your company? Are you able to get people to do something you want easily?
            Then you score pretty good here. </p>
        <p><a href="#" class="btn btn-primary btn-outline">Learn More</a></p>
    </div>


    <div class="feature-center animate-box" data-animate-effect="fadeIn">
        <span class="icon">
            <i class="icon-heart"></i>
        </span>
        <h3>Neuroticism</h3>
        <p>This trait deals mostly with the emotional part of your personality. People who are high
            in neuroticism are generally more anxious, prone to depression and lose their temper
            easily. People on the opposite side of this scale are laid back and have a positive
            outlook towards life. </p>
        <p><a href="#" class="btn btn-primary btn-outline">Learn More</a></p>
    </div>

    <div class="feature-center animate-box" data-animate-effect="fadeIn">
        <h4 class="feature-center">Personality is what makes you, you. There is no right or wrong
            personality. There is just yours and mine. </h4>
    </div>

</div>

<!--===Counter area===-->
<div class="row mb-5">
    <div id="gtco-counter" class="gtco-bg gtco-cover gtco-counter"
        style="background-image:url({% static 'home/images/img_bg_2.jpg' %});">
        <div class="overlay"></div>
        <div class="gtco-container">

            <div class="display-t">
                <div class="display-tc">
                    <div class="animate-box">
                        <div class="feature-center">
                            <span class="icon">
                                <i class="icon-pencil"></i>
                            </span>

                            <span class="counter js-counter" data-from="0" data-to="{{ data.tests_attempted.data_to }}"
                                data-speed="{{ data.tests_attempted.data_speed }}" data-refresh-interval="50">1</span>
                            <span class="counter-label">Tests Attempted</span>

                        </div>
                    </div>
                    <div class="animate-box">
                        <div class="feature-center">
                            <span class="icon">
                                <i class="icon-speech-bubble"></i>
                            </span>

                            <span class="counter js-counter" data-from="0" data-to="{{ data.peers_invited.data_to }}"
                                data-speed="{{ data.peers_invited.data_speed }}" data-refresh-interval="50">1</span>
                            <span class="counter-label">Peers Invited</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
</div>
<!--===Comparison area===-->
<div class="gtco-container">

    <div class="animate-box">
        <div class="col-md-offset-2 text-center gtco-heading">
            <h2>Some Interesting Observations - <b>INCOMPLETE</b></h2>
            <p>Researchers say that people who mesh together well, such as couples, best friends, and
                sometimes even siblings have a very similar personality plot. Is this true? Here are some
                observations that we think you would find interesting.</p>
        </div>
    </div>

    <div class="animate-box">

        <div class="gtco-tabs">
            <ul class="gtco-tab-nav">
                <li class="active"><a href="#" data-tab="1"><span class="icon visible-xs"><i
                                class="icon-command"></i></span><span class="hidden-xs">Best
                            friends</span></a></li>
                <li><a href="#" data-tab="2"><span class="icon visible-xs"><i class="icon-bar-graph"></i></span><span
                            class="hidden-xs">Teenage
                            Couple</span></a></li>
                <li><a href="#" data-tab="3"><span class="icon visible-xs"><i class="icon-bag"></i></span><span
                            class="hidden-xs">Married
                            Couple</span></a></li>
                <li><a href="#" data-tab="4"><span class="icon visible-xs"><i class="icon-box"></i></span><span
                            class="hidden-xs">Siblings</span></a></li>
            </ul>

            <!-- Tabs -->
            <div class="gtco-tab-content-wrap">

                <div class="gtco-tab-content tab-content active" data-tab-content="1">
                    <div class="">
                        <div class="gtco-video gtco-bg" style="background-image: url(images/img_1.jpg); ">
                            <a href="https://vimeo.com/channels/staffpicks/93951774" class="popup-vimeo"><i
                                    class="icon-video"></i></a>
                            <div class="overlay"></div>
                        </div>
                    </div>
                    <div class="">
                        <h2>Best friends</h2>
                        <p>Paragraph placeat quis fugiat provident veritatis quia iure a debitis adipisci
                            dignissimos consectetur magni quas eius nobis reprehenderit soluta eligendi quo
                            reiciendis fugit? Veritatis tenetur odio delectus quibusdam officiis est.</p>

                        <p>Ullam dolorum iure dolore dicta fuga ipsa velit veritatis molestias totam fugiat
                            soluta accusantium omnis quod similique placeat at. Dolorum ducimus libero fuga
                            molestiae asperiores obcaecati corporis sint illo facilis.</p>

                        <div class="row">
                            <div class="col-md-6">
                                <h2 class="uppercase">Keep it simple</h2>
                                <p>Ullam dolorum iure dolore dicta fuga ipsa velit veritatis</p>
                            </div>
                            <div class="col-md-6">
                                <h2 class="uppercase">Less is more</h2>
                                <p>Ullam dolorum iure dolore dicta fuga ipsa velit veritatis</p>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="gtco-tab-content tab-content" data-tab-content="2">
                    <div class="col-md-6 col-md-push-6">
                        <div class="gtco-video gtco-bg" style="background-image: url(images/img_1.jpg); ">
                            <a href="https://vimeo.com/channels/staffpicks/93951774" class="popup-vimeo"><i
                                    class="icon-video"></i></a>
                            <div class="overlay"></div>
                        </div>
                    </div>
                    <div class="col-md-6 col-md-pull-6">
                        <h2>Teenage Couple</h2>
                        <p>Paragraph placeat quis fugiat provident veritatis quia iure a debitis adipisci
                            dignissimos consectetur magni quas eius nobis reprehenderit soluta eligendi quo
                            reiciendis fugit? Veritatis tenetur odio delectus quibusdam officiis est.</p>

                        <p>Ullam dolorum iure dolore dicta fuga ipsa velit veritatis molestias totam fugiat
                            soluta accusantium omnis quod similique placeat at. Dolorum ducimus libero fuga
                            molestiae asperiores obcaecati corporis sint illo facilis.</p>

                        <div class="row">
                            <div class="col-md-6">
                                <h2 class="uppercase">Ready to use</h2>
                                <p>Ullam dolorum iure dolore dicta fuga ipsa velit veritatis</p>
                            </div>
                            <div class="col-md-6">
                                <h2 class="uppercase">100% Satisfaction</h2>
                                <p>Ullam dolorum iure dolore dicta fuga ipsa velit veritatis</p>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="gtco-tab-content tab-content" data-tab-content="3">
                    <div class="col-md-6 col-md-push-6">
                        <div class="gtco-video gtco-bg" style="background-image: url(images/img_1.jpg); ">
                            <a href="https://vimeo.com/channels/staffpicks/93951774" class="popup-vimeo"><i
                                    class="icon-video"></i></a>
                            <div class="overlay"></div>
                        </div>
                    </div>
                    <div class="col-md-6 col-md-pull-6">
                        <div class="feature-left animate-box" data-animate-effect="fadeInLeft">
                            <span class="icon">
                                <i class="icon-check"></i>
                            </span>
                            <div class="feature-copy">
                                <h3>Retina Ready</h3>
                                <p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia
                                    reprehenderit.</p>
                            </div>
                        </div>

                        <div class="feature-left animate-box" data-animate-effect="fadeInLeft">
                            <span class="icon">
                                <i class="icon-check"></i>
                            </span>
                            <div class="feature-copy">
                                <h3>Fully Responsive</h3>
                                <p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia
                                    reprehenderit.</p>
                            </div>
                        </div>

                        <div class="feature-left animate-box" data-animate-effect="fadeInLeft">
                            <span class="icon">
                                <i class="icon-check"></i>
                            </span>
                            <div class="feature-copy">
                                <h3>Ready To Use</h3>
                                <p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia
                                    reprehenderit.</p>
                            </div>
                        </div>


                    </div>
                </div>

                <div class="gtco-tab-content tab-content" data-tab-content="4">
                    <div class="col-md-6">
                        <div class="icon icon-xlg">
                            <i class="icon-box"></i>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h2>Logo &amp; Branding</h2>
                        <p>Paragraph placeat quis fugiat provident veritatis quia iure a debitis adipisci
                            dignissimos consectetur magni quas eius nobis reprehenderit soluta eligendi quo
                            reiciendis fugit? Veritatis tenetur odio delectus quibusdam officiis est.</p>

                        <p>Ullam dolorum iure dolore dicta fuga ipsa velit veritatis molestias totam fugiat
                            soluta accusantium omnis quod similique placeat at. Dolorum ducimus libero fuga
                            molestiae asperiores obcaecati corporis sint illo facilis.</p>

                        <div class="row">
                            <div class="col-md-6">
                                <h2 class="uppercase">Pixel perfect</h2>
                                <p>Ullam dolorum iure dolore dicta fuga ipsa velit veritatis</p>
                            </div>
                            <div class="col-md-6">
                                <h2 class="uppercase">User Interface Expert</h2>
                                <p>Ullam dolorum iure dolore dicta fuga ipsa velit veritatis</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>

<!--================End Home Banner Area =================-->
{% endblock %}