{% extends 'base.html' %}

{% load static %}
<!--================Home Banner Area =================-->
{% block banner_text %}
<h1>Error in loading database </h1>

{% endblock %}
<!--===Home banner area===-->

{% block body %}
<div class="gtco-container">

    <div class="animate-box">
        <div class="col-md-offset-2 text-center gtco-heading">
            Looks like there are no questions in the database. If you're seeing this page, we're surely working to
            fix it. We are sorry for this inconvenience.
        </div>
    </div>
</div>
{% endblock %}