{% extends 'user_base.html' %}

{% block user_action_title %}
Password Reset Done
{% endblock %}

{% block user_action %}
Password reset link sent
{% endblock %}

{% block body %}
<div style="text-align: center;">
    <p style="color: floralwhite;">
        We’ve emailed you instructions for setting your password, if an
        account exists with the
        email you entered. You should
        receive them shortly.
    </p>
    <p style="color: floralwhite;">
        If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.
	</p>
</div>
<div class="btn-toolbar p-t-10">
    <a href="{% url 'users:login' %}" class="btn btn-success">Login </a>
    <a href="{% url 'home:home' %}" class="btn btn-danger ml-auto">Homepage </a>
  </div>
{% endblock %}