{% extends 'user_base.html' %}

{% block user_action_title %}
Password Reset
{% endblock %}

{% block user_action %}
Password Reset
{% endblock %}

{% block body %}


{% load crispy_forms_tags %}
{% load widget_tweaks %}

<form method="POST">
    {% csrf_token %}
    {{ form|crispy }}
    <div class="btn-toolbar">
        <button class="btn btn-info" type="submit">Reset Password </button>
        <a href="{% url 'home:home' %}" class="btn btn-danger ml-auto">Homepage </a>
    </div>
</form>
{% endblock %}