{% extends 'user_base.html' %}

{% block user_action_title %}
Password Reset Complete 
{% endblock %}

{% block user_action %}
Password reset complete 
{% endblock %}

{% block body %}
<div class="btn-toolbar text-center p-t-10">
<p style="color: floralwhite;">
        Your password was changed successfully, and you can now login with your new password! 
    </p>
  </div>
<div class="btn-toolbar p-t-10">
    <a href="{% url 'users:login' %}" class="btn btn-success">Login Now </a>
    <a href="{% url 'home:home' %}" class="btn btn-danger ml-auto">Homepage </a>
  </div>
{% endblock %}