{% extends 'user_base.html' %}

{% block user_action_title %}
Set new Password
{% endblock %}

{% block user_action %}
Set New Password
{% endblock %}

{% block body %}


{% load crispy_forms_tags %}
{% load widget_tweaks %}

{% if validlink %}
<form method="POST">
    {% csrf_token %}
    {{ form|crispy }}
    <div class="btn-toolbar">
        <button class="btn btn-info" type="submit">Reset Password </button>
        <a href="{% url 'home:home' %}" class="btn btn-danger ml-auto">Homepage </a>
    </div>
</form>

{% else %}
<div style="text-align: center;">
    <p style="color: floralwhite;">
        The token you entered was either invalid or has been used before. Please request another password reset link. 
    </p>
</div>
<div class="btn-toolbar p-t-10">
    <a href="{% url 'users:password-reset' %}" class="btn btn-success">Forgot Password? </a>
    <a href="{% url 'home:home' %}" class="btn btn-danger ml-auto">Homepage </a>
  </div>
{% endif %}

{% endblock %}