{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block banner_text %}
<h1>Password Change Complete </h1>
{% endblock %}

{% block body %}
<div id="gtco-features">

  <div class="gtco-container">
    <a href="{% url 'home:home' %}" class="btn btn-default btn-block">Home </a>
    <a href="{% url 'users:profile' username=user.username %}" class="btn btn-default btn-block">Profile </a>
    <a href="{% url 'interactions:howto' %}" class="btn btn-default btn-block">Take a test </a>
  </div>

</div>
{% endblock %}